*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}

.wrapper{
    background-color: black;
    height: 100%;
    width: 100vw;
    
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
   
}
body{
    overflow-x: hidden;
    font-family: poppins, sans-serif;
}
.header{
    color: #0df7fb;
    font-size: 45px;
}
.para1{
    color: white;
    font-size: 20px;
    margin-top: 50px;
    line-height: 30px;
}
.eligible{
   
    color: white;
}
.small-head{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
    margin-top: 30px;
}
.para2{
    margin-bottom: 10px;
}
.olist{
    line-height: 25px;
}
.bold{
    font-weight: bold;
}
.ulist{
    color: white;
    line-height: 25px;
}
.note{
    color: white;
    margin-top: 30px;
    font-size: 20px;
   line-height: 30px;
}

.footer-main{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: poppins, sans-serif;
    margin-top: 200px;
    padding-left: 300px;
    padding-right: 300px;
    text-decoration: none;
}
.policy, .pricing{
    /* text-decoration: none; */
    color: white;
    font-size: 20px;
    text-decoration: underline;
}

.copyright{
    color: white;
    text-align: center;
    margin-top: 50px;
    
    font-family: poppins, sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
}

@media screen and (max-width: 1000px){
.footer-main{
    padding-left: 100px;
    padding-right: 100px;
}
}
@media screen and (max-width: 750px){
    .footer-main{
        padding-left: 50px;
        padding-right: 50px;
    }
    .wrapper{
        
        
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 50px;
       
    }
    }
    @media screen and (max-width: 750px){
        .footer-main{
            padding-left: 10px;
            padding-right: 10px;
        }
        .wrapper{
            
            
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 30px;
           
        }
        .policy, .pricing{
            /* text-decoration: none; */
            color: white;
            font-size: 15px;
            text-decoration: underline;
        }
        .copyright{
           
           
            font-size: 12px;
            padding-bottom: 20px;
        }
    }