*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    
}

.container{
    background-color: black;
    height: 100%;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
body{
    overflow-x: hidden;
}

.wrapper{
    padding-top: 50px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navhead{
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    width: 15%;
    font-family: poppins, sans-serif;
    padding: 15px;
    text-align: center;
    text-decoration: none;

}
.button2{
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    width: 18%;
    font-family: poppins, sans-serif;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    text-decoration: none;

}
 

.rec{
    color: #ffde59;
    font-family: poppins, sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.ventures{
    color: white;
}
.top-head{
    margin: 0 auto;
   
    /* align-items: center; */
    font-size: 18px;
    line-height: 22px;
    color: white;
    font-family: poppins, sans-serif;
    padding: 5px;
    text-align: center;
   border: 1px solid #0df7fb;
   border-radius: 15px;
   background-color:#099c9f ;
   width: 30%;
   box-sizing: border-box;
   }
.button{
    text-decoration: none;
}
   .parent-container{
    width: 80%;
    height: 80%;
    margin-top: 80px; /* Adjust the value as needed */
    display: block; /* Makes the image behave like a block-level element */
    margin-left: auto;
    margin-right: auto;
   }

  
   

   .video-gradient{
    border: 3px solid;
    border-image-slice: 1;
    border-width: 2px;
   

  
     border-image-source:linear-gradient(to bottom, #ffde59 0%, #000000 44%, #000000 55%, #ffde59 100%);
   
   
   }

.photo-content{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}   

.left-content{
    color: white;
    /* padding-top: 70px; */
    /* margin-top: 20px; */
}   

.list{
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: poppins, sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 35px;

}

.list li{
    margin-bottom: 15px;
}
.green-box{
    display: inline-block;
    background-color: #0df7fb;
    color: black;
    /* padding: 1px; */
    height: 30px;
    width: 30px;

    border-radius: 2px;
}
/* .main-left-first{
    background: linear-gradient(to bottom, #00ff00 0%, #00B500 100%); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
} */
.main-left-second{
    background: linear-gradient(to bottom, #0df7fb 0%, rgba(255, 255, 255, 0.607) 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.main_left_content{
    /* height: 150px; */
    font-size: 65px;
    line-height: 75px;
    /* color: white; */
    padding-left: 10px;
    padding-right: 10px;
   margin-top: -5rem;
    font-weight:bold;
    font-family: poppins, sans-serif;
    /* color: #00ff00; */
    text-align: center;
    background: linear-gradient(to bottom, #ffff 0%, #ffde59 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    
  
}

.second_left_content{
    font-size: 20px;
    line-height: 25px;
    font-family: poppins, sans-serif;
    /* color: #00ff00; */
    text-align: center;
    color: rgba(255, 255, 255, 0.543);
    margin-top: 20px;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 50px;
}

.sub_left_content{
    font-size: 20px;
    font-family: poppins, sans-serif;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
}

/* .star1{
    position: relative;
    top: 1rem;
    left: 15rem;
   
} */
.animated-image{
    width: 20px;
    height: 20px;
    animation: grow-shrink 4s infinite;
    transform-origin: center;
}

@keyframes grow-shrink {
    0% {
      transform: scale(0); /* Original size */
    }
    50% {
      transform: scale(1); /* Grow to 1.5 times the size */
    }
    100% {
      transform: scale(0); /* Back to original size */
    }
  }
.me{
    position: relative;
}
.im{
    position: relative;
}
.star2{
    position: absolute;
    bottom: 15rem;
    left: 75rem;
}

.star3{
    position: absolute;
    bottom: 0;
    left: 60rem;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 1.5rem;
    padding: 2rem;
}

.star4{
    position: absolute;
    bottom: 8rem;
    left: 8rem;
}

.star5{
    position: absolute;
    left: 26rem;
    bottom: 1rem;
}
.starr2{
    position: relative;
    left: 70rem;
    bottom: 5rem;
    /* animation: grow-shrink 4s infinite;
    transform-origin: center; */
}
.starrr5{
    position: relative;
    left: 5rem;
    bottom: 8rem;
}
.organicss{
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    height: 40px;
    width: 85px;
    animation: move-up-down 4s infinite ease-in-out;
}

.highcss{
    position: absolute;
    bottom: 2rem;
    left: 48rem;
    height: 40px;
    width: 85px;
    animation: move-up-down 4s infinite ease-in-out;
}

.offer{
    margin-top: -10rem;
}

@keyframes move-up-down {
    0% {
      transform: translateY(0); /* Start at original position */
    }
    50% {
      transform: translateY(-20px); /* Move up 20px */
    }
    100% {
      transform: translateY(0); /* Back to original position */
    }
  }

  
.size1{
    height: 60px;
    width: 60px;
}
/* .box{
    position: relative;
    left: 5rem;
    top:5rem
} */
.intro-head{
    display: flex;
   
    justify-content: space-between;
    /* flex-wrap: wrap; */
   
    margin-top: 80px;
}
.left-image img{
    height: 400px;
    width: 400px;
}
.intro{
    color: white;
    font-size: 22px;
    /* padding-left: 50px; */
    font-family: poppins, sans-serif;
    line-height: 25px;
    margin-top: 10px;
}
.green-color{
    color: #0df7fb;
    text-align: center;
    margin: 0 auto;
}
.introduction{
    color: white;
    font-size: 20px;
    margin-left: 5rem;
    font-family: poppins, sans-serif;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}


.line-img{
    width: 150px;
    position: relative;
    left: 8rem;
}

.button-decoration{
    text-decoration: none;
}
.logos{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: -7rem;
    padding-left: 0;
    padding-right: 0;
    /* padding: 60px 0 0 0 ; */
  }

  
  .logos-slide img:hover{
    /* animation-play-state: paused; */
    /* transform: scale(1.1);
    transition: 0.5s; */
    cursor: pointer;
    /* filter: drop-shadow(1px 1px 1px white); */
    
  }
  .logos-slide{
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    animation: 30s slide infinite linear;
  }
  .logos-slide img{
    height: 200px;
    margin-right: 5rem;
  }

  @keyframes slide {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }




.expert-head{
    padding-top: 100px;
    padding-bottom: 30px;
   color: white;
    /* text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; */
    font-family: poppins, sans-serif;
    position: relative;
   
}

.second-head{
    margin: 0 auto;
   
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    line-height: 22px;
    color: white;
    font-family: poppins, sans-serif;
    padding: 5px;
    text-align: center;
   border: 1px solid #0df7fb;
   border-radius: 15px;
   background-color:#099c9f ;
   width: 18%;
   box-sizing: border-box;
}

.second-head-para{
    color: white;
    margin-top: 50px;
    
}

.second-head-benefits{
    font-size: 18px;
    line-height: 22px;
    color: white;
    font-family: poppins, sans-serif;
    padding: 5px;
    text-align: center;
   border: 1px solid #0df7fb;
   border-radius: 15px;
   background-color:#099c9f ;
   width: 25%;
   /* display: flex;
   justify-content: flex-start; */
   box-sizing: border-box;
}

/* .expert2{
 
} */

.expert-head2{
    padding-top: 100px;
   color: white;
   display: flex;
   justify-content: space-between;
   /* position: relative; */
    font-family: poppins, sans-serif;
   
   
}

/* .paraa{
    display: flex;
    flex-direction: column;
   
   
    
} */

.expert2 {
    display: flex; /* Enable flexbox for the container */
    justify-content: space-between; /* Push items to the edges */
    align-items: flex-start; /* Align items at the top */
    padding: 0 50px; /* Add some horizontal padding */
    /* margin-top: 150px; */
    margin-bottom: 150px;
    /* margin-top: 50px; */
  }
  
  .paraa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky; /* Sticky positioning */
    top: 9rem; /* Sticky starts 20px from the top */
    bottom:6rem;
    background-color: inherit; /* Optional: Keeps the same background as parent */
    z-index: 10; /* Ensure it stays above other content */
  }
  
  .second-head-benefits {
    font-size: 18px;
    line-height: 22px;
    color: white;
    font-family: poppins, sans-serif;
    padding: 5px;
    text-align: center;
    border: 1px solid #0df7fb;
    border-radius: 15px;
    background-color: #099c9f;
    width: 30%; /* Make it responsive */
    box-sizing: border-box;
    margin-left:50px
  }
  
  .why-me-main-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the cards */
    color: white;
    font-family: poppins, sans-serif;
    font-size: 22px;
    line-height: 30px;
    /* margin-top: 50px; */
     /* Optional: Limit the width of this section */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* border: 2px solid #424141; */
    border-radius: 15px;
    /* background-color: #242121; */
    width: 100%; /* Card width adapts to the container */
    height: 280px;
    margin-top: 60px;
    position: sticky;
    top: 9rem;
  }
  .cardc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 20px;
    border: 2px solid #424141; */
    border-radius: 15px;
    /* background-color: #242121; */
    width: 100%; /* Card width adapts to the container */
    height: 250px;
    /* margin-top: 60px; */
    position: sticky;
    top: 9rem;
  }
  
.second-para{
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    /* color: white; */
    padding-left: 110px;
    padding-right: 110px;
    text-align: center;
    font-family: poppins, sans-serif;
    margin-top: 50px;
    /* color: #00ff00; */
    background: linear-gradient(to bottom, #ffff 0%, rgba(255, 255, 255, 0.543) 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.second-para-benefits{
    font-size: 40px;
    line-height: 50px;
   font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
   
    font-family: poppins, sans-serif;
    margin-top: -1rem;
    width: 40vw;
    background: linear-gradient(to bottom, #ffff 0%, rgba(255, 255, 255, 0.543) 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.second-para2{
    font-size: 20px;
    line-height: 25px;
    font-family: poppins, sans-serif;
    /* color: #00ff00; */
    text-align: center;
    color: rgba(255, 255, 255, 0.543);
    margin-top: 20px;
    /* margin-bottom: 50px; */
    padding-left: 250px;
    padding-right: 250px;
   
    /* margin-bottom: 2rem; */
    
}

.list1{
    font-size: 30px;
    font-weight: bold;
    padding-left: 80px;
    padding-right: 80px;
    
}

.list{
    padding-left: 110px;
    padding-right: 110px;
    font-size: 20px;
    margin-top: 15px;
    line-height: 25px;
    list-style-type: disc;
   
}
.lis{
    margin-top: 35px;
}


.color{
    background: linear-gradient(to bottom, #0df7fb 0%, #099c9f 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.expert-main{
    display: flex;
    color: white;
    justify-content: space-between;
    /* text-align: center; */
    /* align-items: center; */
    font-family: poppins, sans-serif;
    font-size: 18px;
    margin-top: 40px;


}

.expert-main-first, .expert-main-second, .expert-main-third{
    margin: 0 auto;
  padding-top: 20px;
  padding-bottom:20px;
  padding-right: 20px;
  padding-left: 20px;
 border: 2px solid #424141;
 border-radius: 8px;
 background-color: #242121 ;
 
 /*width: 400px;*/
  display: flex;
 align-items: center;
 justify-content: center;
width: 30%;
 box-sizing: border-box;
 height: 100px;
 }

 .image1{
    margin-right: 10px;
 }

 .why-me{
    
        padding-top: 100px;
        /* color: white; */
        background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.607) 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
        font-family:  poppins, sans-serif;
        font-size: 55px;
        text-align: center;
        display: flex;
        justify-content: center;
        font-weight: bolder;
    
 }
 

 

 .why-me-main2{
  
        display: flex;
        color: white;
        justify-content: space-between;
       
        font-family: poppins, sans-serif;
        font-size: 22px;
        margin-top: 40px;
        padding-left: 150px;
        padding-right: 150px;
        line-height: 30px;
      
    
    
    
 }
 .why-me-main-first2,  .why-me-main-second2,  .why-me-main-third2{
    display: flex;
    flex-direction: column;

    
    padding: 20px;
  
   border-radius: 15px;
   
   
  
  color: #000000;
  width: 45%;
  height: 250px;
 
   box-sizing: border-box;
 }

 .why-me-main {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #000000;
    line-height: 30px;
    /* margin-top: 40px; */
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .why-me-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    width: 30%;
    max-height: 60%;
    margin-top: 50px;
    opacity: 0;
    transform: rotate(10deg); /* 2D clockwise tilt */
    transition: transform 0.3s ease-in-out, opacity 1.5s ease-in-out;
  }
  
  .cen {
    display: flex;
    margin: 0 auto;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .count {
    font-size: 30px;
    font-weight: bold;
  }
  
  .color1 {
    background-color: #fadf7c;
  }
  
  .color2 {
    background-color: #8f98ff;
  }
  
  .color3 {
    background-color: #f0927e;
  }
  
  /* When cards are not in view, apply the 60° clockwise tilt */
  .why-me-card.scattered {
    transform: rotate(10deg); /* Keep the 60° clockwise tilt */
    opacity: 0.8; /* Slightly transparent when out of view */
  }
  
  /* When cards come into view, return to original position */
  .why-me-card.returning {
    transform: rotate(0deg); /* No tilt, original position */
    opacity: 1;
  }
  
  .color4{
    background-color: #7ed957;
  }
  .doctors-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    row-gap: 4rem;
    padding-left: 50px;
    padding-right: 50px;


  }
  .doctors-img img{
    height: 200px;
    width: 200px;
    /* gap: 20rem; */
    border-radius: 50%;
  }
  
 .why-me-main-first1,  .why-me-main-second1,  .why-me-main-third1, .why-me-main-fourth1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 /* font-weight: bold; */
   color: #000000;
    /* padding-bottom:50px; */
    padding-right: 20px;
    padding-left: 20px;
   /* border: 2px solid #424141; */
   border-radius: 15px;
   /* background-color: #242121 ; */
   
   
   
  
  width: 65%;
  height: 250px;
 
   box-sizing: border-box;
 }
 .bold{
    font-weight: bold;
 }

 
 

 
 .image2{
   display: block;
  
   margin:auto;

 }
 .about-main{
    display: flex;
    flex-direction: column;
    color: white;
 }

 .impacts{
    
  
   
   
    text-align: center;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
   
    padding-top: 10px;
    padding-bottom: 10px;
  
  border: 3px solid;
           border-image-slice: 1;
           border-width: 2px;
           border-radius: 2px;
        

           
            border-image-source:linear-gradient(to bottom, #ffde59 0%, #000000 44%, #000000 55%, #ffde59 100%);
 
 height: 350px;
 width: 95%;
 box-sizing: border-box;
 margin: auto;
 

}




.impacts-head{
    background: linear-gradient(to bottom, #f5f0e0 0%, #ffde59 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    font-weight: bolder;
    font-family: poppins, sans-serif;
}

.impacts-main{
    /* color: white; */
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 30px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    font-family:  poppins, sans-serif;

}

.impacts-first, .impacts-second, .impacts-third{
    border-right: 2px solid #ffde59;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:1rem;
    padding-right: 1rem;
    /* margin-left: 1rem; */
    /*padding-right: 10px;*/
    height: 50px;
}

.impacts-fourth{
    padding-right: 1rem;
    
}

.results{
    
    margin-top: 100px;
    /* color: white; */
   
    /* font-size: 60px; */
    text-align: center;
    /* display: flex;
    justify-content: center; */

}


.arrow{
    height: 80px;
    width: 150px;
    margin: auto;
}

.results-head{
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.607) 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
        /* color:white; */
        font-size: 55px;
        font-weight: bolder;
        font-family: poppins , sans-serif;
}
.result-img{
    width: 60px;
    height: 60px;
    position: relative;
    top: 0.5rem;
}

.plane{
    height: 80px;
    width: 80px;
}

.results-main{
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: poppins , sans-serif;
}

.results-first{
    display: flex;
    justify-content: space-around;
}


.results-second{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.result1
{
    border: 3px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-radius: 2px;
    /*background: #00FF00;*/

    height: 500px;
    width: 300px;
     border-image-source:linear-gradient(to bottom, #ffde59 0%, #000000 44%, #000000 55%, #ffde59 100%);
   
    text-align: center;
    line-height: 180px; 
}
.viral{
    margin-top: 100px;
/* color: white; */

/* font-size: 60px; */
text-align: center;
}

.viral-head{
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.607) 100%); /* Gradient from top to bottom */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    font-weight: bolder;
    font-family: poppins , sans-serif;

}

.viral-main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    row-gap: 2rem;
    font-family: poppins , sans-serif;
    /* column-gap: 1px; */
}
.viral1-img{
    height: 50px;
    width: 50px;
    position: relative;
    left: -1rem;
   
}

.viral2-img{
    height: 50px;
    width: 50px;
    position: relative;
    right: -1rem;
}


.viral-main img{
    width: 22%;
    min-width: 100px;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 4px;
    border-radius: 2px;
   
    /*background: #00FF00;*/

    
     border-image-source:linear-gradient(to bottom, #ffde59 0%, #000000 44%, #000000 55%, #ffde59 100%);
   
    text-align: center;
    line-height: 180px; 
}
.video-camp{
     display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    row-gap: 2rem;
  
}

.video-wrapper {
    width: 300px;    /* set fixed width */
    height: 533px;   /* keep 9:16 ratio (height = width × 16/9) */
    margin: 0 auto;  /* center horizontally */
    overflow: hidden; /* avoid expansion */
  }

  .video-wrapper wistia-player {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }

  .material-symbols-rounded{
    color: #ffde59
  }

.items{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    font-family: poppins , sans-serif;
}
.item1{
   padding: 30px;
}
.item-head{
    color: white;
    text-align: center;
    font-size: 40px;
}
.item-list li{
 list-style-type: none;
 font-size: 18px;
 line-height: 40px;
}
.item-list img{
    height: 20px;
    width: 20px;
}
.item-list{
    color: rgba(255, 255, 255, 0.543);
    /* gap: 50px; */
}
.item-p1{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.543);
}
.item-button{
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    width: 100%;
    font-family: poppins, sans-serif;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    margin-top: 25px;
    font-weight: bold;
    text-decoration: none;
}
.item-border{
   
    border: 1px solid #ffff;
    border-image-slice: 1;
   
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    

}
.border{
    border: 1px solid #0000;
    border-image-slice: 1;
    
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-main{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: poppins, sans-serif;
    margin-top: 200px;
    padding-left: 300px;
    padding-right: 300px;
    text-decoration: none;
}
.policy, .pricing{
    /* text-decoration: none; */
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
.footer{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
}

.footer-img{
    width: 40px;
}
.copyright{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: poppins, sans-serif;
    font-size: 12px;
}
@media screen and (max-width: 2000px) {
    
    .nav{
        padding-left: 80px;
        padding-right: 80px;
    }
    .rec{
        font-size: 30px;
    }
    .photo-content{
        margin-top: 100px;
    }
    .logos{
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        margin-top: 8rem;
       
      }
    
    
    
    
    
}
@media screen and (max-width: 1200px){
    .why-me-card {
       
        width: 30%;
        height: 50%;
       
    }
    .nav{
        padding-left: 80px;
        padding-right: 80px;
    }
    .rec{
        font-size: 30px;
    }
    .photo-content{
        margin-top: 200px;
    }
    .expert2{
        margin-top: -20rem;
    }
    .navhead{
        width: 20%;

        
    }
}
  
@media screen and (max-width: 1100px){
    
    .impacts-first, .impacts-second, .impacts-third{
      margin: 0 auto;
      border-right: none;
    border-bottom: 2px solid #ffde59;
            display: flex;
  align-items: center;
  justify-content: center;
    width: 90%;
    /* height: 200px; */
    }  
    .expert2{
        margin-top: -25rem;
    }
    .why-me-card {
        /* display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 15px; */
        width: 30%;
        height: 40%;
       
    }
    .impacts-main{
        display: flex;
        flex-direction: column;
        
    }
    .expert-main-first, .expert-main-second, .expert-main-third{
      
    width: 90%;
     box-sizing: border-box;
     height: 100px;
     }
     .star1{
       display: none;
    }
    
    
    
   
   
    .photo-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .results-main{
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: poppins , sans-serif;
    }
    .result1{
        height: 350px;
        width: 200px;
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .expert-main{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        /* justify-content: space-between; */
        /* text-align: center; */
        /* align-items: center; */
        
        
    
    
    }
   
    .arrow{
        height: 30px;
        margin: auto;
        width: 80px;
    }
    .right-image img{
       margin-top: 50px;
    }

    .top-head{
       
        font-size: 20px;
        line-height: 20px;
      
       width: 30%;
       
       }

   
    
  }

  @media screen and (max-width: 1000px){
    .why-me-card {
       
        /* width: 40%;
        height: 40%; */

        
       
    }
    .main_left_content{
        height: 80px;
        margin-top: -8rem;
    }
    .second_left_content{
      
        padding-left: 100px;
        padding-right: 100px;
    }
    .expert{
        padding-left: 2px;
        padding-right: 2px;
        margin: 0;
    }
    .second-para-benefits{
       font-size: 35px;
    }
    .expert2{
        padding-left: 0;
        padding-right: 0;
    }
    .photo-content{
        padding: 0;
    }
    .footer-main{
        padding-left: 100px;
        padding-right: 100px;
    }
    .items{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
        font-family: poppins , sans-serif;
    }
    .item1{
        margin-bottom: 3rem;
    }
    .item-border{
   
        border: 1px solid hwb(0 34% 65%);
        border-image-slice: 1;
       
        border-radius: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        
    
    }
    .border{
        border: 1px solid hwb(0 34% 65%);
        border-image-slice: 1;
        
        border-radius: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .item-head{
        color: white;
        text-align: center;
        font-size: 35px;
    }
    .item-list li{
     list-style-type: none;
     font-size: 17px;
     line-height: 40px;
    }
    .item-list img{
        height: 20px;
        width: 20px;
    }
   
    .item-p1{
       
        font-size: 19px;
        line-height: 28px;
       
    }
   
    .star2{
        bottom: 10rem;
        left: 45rem;
    }
    
    .star3{
        bottom: 0;
        left: 40rem;
    }
    .box{
        margin-top: 1.5rem;
        padding: 2rem;
    }
    
    .star4{
      
        bottom: 8rem;
        left: 2rem;
    }
    
    .star5{
      
        left: 15rem;
        bottom: 1rem;
    }
   
   
    .organicss{
      
        bottom: 1rem;
        left: 4rem;
        height: 40px;
        width: 85px;
        
    }
    
    .highcss{
       
        bottom: 2rem;
        left: 45rem;
        height: 40px;
        width: 85px;
       
    }
    
  }
@media screen and (max-width: 850px){
    .results-main{
        margin-top: 50px;
        padding-left:0;
        padding-right: 0;
        font-family: poppins , sans-serif;
    }
    
    .result1{
        height: 300px;
        width: 150px;
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrow{
        height: 20px;
        margin: auto;
        width: 60px;
    }
    .left-image img{
        height: 350px;
        width: 350px;
    }
    .intro-head{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
        margin-top: 80px;
    }
    .star2{
        bottom: 10rem;
        left: 40rem;
    }
    
    .star3{
        bottom: 0;
        left: 35rem;
    }
    .box{
        margin-top: 1.5rem;
        padding: 2rem;
    }
    .star4{
      
        bottom: 8rem;
        left: 2rem;
    }
    
    .star5{
      
        left: 10rem;
        bottom: 1rem;
    }
   
   
    .organicss{
      
        bottom: 1rem;
        left: 2rem;
        height: 40px;
        width: 85px;
        
    }
    .highcss{
       
        bottom: 2rem;
        left: 40rem;
        height: 40px;
        width: 85px;
       
    }
    .intro{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .introduction{
      margin-left: 0;
      margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .footer{
        /* margin-top: 300px; */
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        padding-right: 0;
    }
    .impacts-head{
        font-size: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .impacts-main{
        font-size: 20px;
       
    }
    .top-head{
       
        font-size: 20px;
        line-height: 26px;
      
       width: 40%;
       
       }
       /* .calender-head{
        font-size: 20px;
       } */

       .photo-content{
        margin-top: 50px;
       
      }   
      
      .left-content{
        
          margin-top: 30px;
      }  
      /* .second_left_content{
        margin-top: 20px;
      }  */
      
      
      
      .main_left_content{
          font-size: 55px;
          line-height: 60px;
          margin-top: -1rem;
          height: 120px;
         
      }
      
      .sub_left_content{
          font-size: 20px;
          font-family: poppins, sans-serif;
          text-align: center;
          padding-top: 20px;
      }
      
      
      .call_book{
         
          margin-top: 20px;
         
      }
      .button2{
        width: 40%;
      }
      .wrapper{
        padding-top: 80px;
      }
      
      .impacts-third{
        margin-top: 0.5rem;
      }
      /* .calender-head{

      } */
      
      .book-line{
        width: 120px;
        position: relative;
        top: -5rem;
        left: -16rem;
    }
    
  }

@media screen and (max-width: 800px){
    .expert-main{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        /* justify-content: space-between; */
        /* text-align: center; */
        /* align-items: center; */
        
        
    
    
    }
    .expert2{
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .paraa{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: static;
        z-index: 0;
    }
    
      
      .second-head-benefits {
       
       
        width: 50%; /* Make it responsive */
        box-sizing: border-box;
        margin-left:0;
      }
      .second-para-benefits{
        margin-bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;
        width: 100%;
        text-align: center;

      }
      .second_left_content{
        padding-left: 55px;
        padding-right: 55px;
      }
      .second-para2{
        padding-left: 100px;
        padding-right: 100px;
      }
      
    /* .why-me-card.scattered {
        display: none;
      }
      
      /* When cards come into view, return to original position */
      .why-me-main-first2,  .why-me-main-second2,  .why-me-main-third2{
        display: flex;
        flex-direction: column;
    
        
        padding: 20px;
      
       border-radius: 15px;
       
       
      
      color: #000000;
      width: 45%;
      height: 250px;
     
       box-sizing: border-box;
     }
     .why-me-main2{
        padding: 10px;
     }
       
    .book-line{
        width: 120px;
        position: relative;
        top: 0rem;
        left: -14rem;
    }
    .top-head{
       
        font-size: 16px;
        line-height: 26px;
      
       width: 70%;
       
       }
    
       .line-img{
        width: 150px;
        position: relative;
        left: 11rem;
    }
   
    .expert-main-first, .expert-main-second, .expert-main-third{
        margin: 0 auto;
      padding-top: 20px;
      padding-bottom:20px;
      padding-right: 20px;
      padding-left: 20px;
   
     
     
      /* display: flex;
     align-items: center;
     justify-content: center; */
    width: 90%;
     box-sizing: border-box;
     height: 100px;
     }

     .why-me-main{
  
        display: flex;
        
       flex-direction: column;
       row-gap: 1rem;
        margin-top: 40px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 100px;
    
    
    
 }
 .second-head{
    width: 20%;
 }
 .navhead{
    width: 25%;
 }
 .rec{
    font-size: 25px;
 }
 .why-me-card{
    margin-bottom: 20px;
 }

 .why-me-main-first,  .why-me-main-second,  .why-me-main-third{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */
    margin: 0 auto;
   
   
   /*width: 400px;*/
   
   /* align-items: center;
   justify-content: center; */
  width: 90%;
  height: 350px;
   box-sizing: border-box;
 }
 .why-me{
    
   
    font-size: 40px;
   

}
.results-head{
    font-size: 40px;
    margin-top: -5rem;
}
.viral-head{
    font-size: 40px;
}
.expert-head{
    font-size: 30px;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}
.calender-head{
    font-size: 40px;
}

.main_left_content{
    font-size: 55px;
    line-height: 60px;
    font-weight:bold;
    font-family: poppins, sans-serif;
    /* color: #00ff00; */
    height: 130px;
    /* margin-top: -5rem; */
    text-align: center;
  
}

.list{
    font-size: 25px;
}
.button2{
    width: 40%;
}
.wrapper{
    padding-top: 35px;
}
.main_left_content{
    margin-top: 100px;
}

}
@media screen and (max-width: 770px){
  .main_left_content{
    margin-top: -3rem;
  }
}

@media screen and (max-width: 750px){
    .footer-main{
        padding-left: 50px;
        padding-right: 50px;
    }
    .policy, .pricing{
        /* text-decoration: none; */
        color: white;
        font-size: 15px;
        text-decoration: underline;
    }
    .second_left_content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .main_left_content{
        margin-top: -2rem;
    }
    .star4{
      
        bottom: 12rem;
        left: 2rem;
    }
    .size1{
        height: 45px;
        width: 45px;
    }
    .doctors-img{
        padding-left: 0;
        padding-right: 0;
    }
    .doctors-img img{
        height: 150px;
        width: 150px;
        /* gap: 20rem; */
        border-radius: 50%;
      }
}@media screen and (max-width: 680px){
    .star4{
      
        bottom: 12rem;
        left: 2rem;
    }
    .star2{
        bottom: 12rem;
        left: 35rem;
    }
    
    .star3{
        bottom: -5rem;
        left: 32rem;
    }
    .box{
        margin-top: 1.5rem;
        padding: 2rem;
    }
    
    .star4{
      
        bottom: 12rem;
        left: 2rem;
    }
    
    .star5{
      
        left: 10rem;
        bottom: 1rem;
    }
   
   
    .organicss{
      
        bottom: 1rem;
        left: 2rem;
        height: 40px;
        width: 85px;
        
    }
    
    .highcss{
       
        bottom: 2rem;
        left: 35rem;
        height: 40px;
        width: 85px;
       
    }
}
@media screen and (max-width: 640px){
   .navhead{
    width: 30%;
   }
   .second-head{
    width: 35%;
   }
   .second-para{
    font-size: 35px;
    line-height: 45px;
   }
   /* .second-para-benefits{
    font-size: 30px;
    line-height: 40px;
    padding: 0;
   } */
   .nav{
    padding-left: 10px;
    padding-right: 10px;
   }
   .highcss{
       
    bottom: 2rem;
    left: 30rem;
    height: 40px;
    width: 85px;
   
}
.why-me-main{
    padding-left: 20px;
    padding-right: 20px;
}
}
@media screen and (max-width: 590px){
   
    .star2{
        bottom: 13rem;
        left: 30rem;
    }
    
    .star3{
        bottom: -5rem;
        left: 32rem;
    }
    .box{
        margin-top: 1.5rem;
        padding: 2rem;
    }
    .star4{
      
        bottom: 12rem;
        left: 2rem;
    }
    
    .star5{
      
        left: 8rem;
        bottom: 1rem;
    }
   
   
    .organicss{
      
        bottom: 3rem;
        left: 2rem;
        height: 40px;
        width: 85px;
        
    }
    .highcss{
       
        bottom: 2rem;
        left: 25rem;
        height: 40px;
        width: 85px;
       
    }
}

@media screen and (max-width: 580px){
   
        .navhead{
         width: 30%;
        }
        .logos-slide img{
            height: 100px;
            margin-right: 4rem;
          }
          .logos{
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            margin-top: 8rem;
            margin-bottom: -2rem;

            /* padding: 60px 0 0 0 ; */
          }
          .doctors-img img{
            height: 120px;
            width: 120px;
            /* gap: 20rem; */
            border-radius: 50%;
          }
        .second-head{
         width: 35%;
        }
        .second-para{
         font-size: 35px;
         padding: 5px;
         line-height: 45px;
        }
        .second-head-benefits{
            width: 60%;
        }
        .second-para-benefits{
         font-size: 35px;
         line-height: 45px;
         padding: 0;
         width: 100%;
        }
        .photo-content{
            margin-top: 0px;
          
        }
     
    .right-image img{
        height: 350px;
        width: 350px;
    }
    .result1{
        height: 200px;
        width: 100px;
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrow{
        height: 20px;
        margin: auto;
        width: 60px;
    }
    .footer-img{
        width: 30px;
    }

    .impacts-head{
        font-size: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .impacts-main{
        font-size: 20px;
        line-height: 25px;
    }
    .top-head{
       
        font-size: 18px;
        line-height: 25px;
      
       width: 45%;
       
       }
       .left-content{
        
        margin-top: 20px;
    }   
    
    .line-img{
        width: 150px;
        position: relative;
        left: 4rem;
    }
   
    
    .main_left_content{
        font-size: 45px;
        line-height: 50px;
       
    }
    .call_book{
    font-size: 20px;
    font-weight: 400;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    }
    .viral-main img{
        width: 40%;
    }
    /* .main_left_content{
        font-size: 38px;
        line-height: 43px;
        margin-top: 20px;
       
       */
    
    
    .list{
        font-size: 25px;
        padding-left: 5%;
        padding-right:5%;
    }
    .steroids-main{
      
        padding-left:5%;
        padding-right: 5%;
       
    }
    .steroids-write li{
       
        padding-left: 5%;
        padding-right: 5%;
        
        
    }
    .steroids-content{
       
        padding-left: 5%;
        padding-right: 5%;
       
    }
}

@media screen and (max-width: 540px){
    .line-img{
        width: 150px;
        position: relative;
        left: 4rem;
        bottom: 4rem;
    }
    .star3{
        bottom: -5rem;
        left: 27rem;
    }

    /* .sub_left_content{
        line-height: 35px;
    } */
    .book-line{
        width: 120px;
        position: relative;
        top: -3rem;
        left: -12rem;
    }
    .why-me-main2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .why-me-main-first2,  .why-me-main-second2,  .why-me-main-third2{
       
        
       padding: 20px;
       border-radius: 15px;
       
       
      
      color: #000000;
      width: 80%;
      height: 250px;
     
       box-sizing: border-box;
     }
      .mar{
        margin-bottom: 20px;
      }
      .main_left_content{
        font-size: 45px;
        line-height: 55px;
        height: 110px;
      }
      .second-para2{
        padding-left: 40px;
        padding-right: 40px;
      }
      .second-para-benefits{
        
        font-size: 35px;
      }
    
     
}
@media screen and (max-width: 541px){
    .line-img{
        width: 150px;
        position: relative;
        left: 4rem;
        bottom: 1rem;
    }
}
@media screen and (max-width: 515px){
    .star2{
        bottom: 13rem;
        left: 28rem;
    }
    
    .star3{
        bottom: -5rem;
        left: 25rem;
    }
    .box{
        margin-top: 1.5rem;
        padding: 2rem;
    }
    .star4{
      
        bottom: 12rem;
        left: 2rem;
    }
    .star5{
      
        left: 7rem;
        bottom: 1rem;
    }
   
   
    .organicss{
      
        bottom: 3rem;
        left: 2rem;
        height: 40px;
        width: 85px;
        
    }
    .highcss{
       
        bottom: 2rem;
        left: 25rem;
        height: 40px;
        width: 85px;
       
    }
    .why-me-main{
        padding-left: 10px;
        padding-right: 10px;
    }
   
};
    


@media screen and (max-width: 496px){
    .line-img{
        width: 150px;
        position: relative;
        left: 4rem;
        bottom: 2.5rem;
    }
    /* .why-me-card{
        width: 2000px;
    } */
    .sub_left_content{
        line-height: 35px;
    }
    .book-line{
        width: 120px;
        position: relative;
        top: -3rem;
        left: -9rem;
    }
    .navhead{
        font-size: 15px;
        padding: 5px;
    }
    .why-me-main{
        padding: 5px;
    }
    .copyright{
        font-size: 10px;
    }
    .parent-container{
        width: 90%;
        height: 90%;
        margin-top: 50px; /* Adjust the value as needed */
        display: block; /* Makes the image behave like a block-level element */
        margin-left: auto;
        margin-right: auto;
       }
       .top-head{
       
        font-size: 15px;
        line-height: 20px;
      
       width: 50%;
       
       }
       
   
}
@media screen and (max-width: 485px) {
    .star2{
        bottom: 13rem;
        left: 25rem;
    }
    
    .star3{
        bottom: -5rem;
        left: 25rem;
    }
    .box{
        margin-top: 1.5rem;
        padding: 2rem;
    }
    .star4{
      
        bottom: 12rem;
        left: 2rem;
    }
    .star5{
      
        left: 7rem;
        bottom: 1rem;
    }
    .organicss{
      
        bottom: 3rem;
        left: 2rem;
        height: 40px;
        width: 85px;
        
    }
    .highcss{
       
        bottom: 2rem;
        left: 22rem;
        height: 40px;
        width: 85px;
       
    }
    
}
@media screen and (max-width: 431px){
    .main_left_content{
        font-size: 45px;
       height: 160px;
      
    }
    .star2{
        bottom: 14rem;
        left: 21rem;
    }
    
    .star3{
        bottom: -5rem;
        left: 20rem;
    }
    .box{
        margin-top: 1.5rem;
        padding: 2rem;
    }
    .star4{
      
        bottom: 12rem;
        left: 2rem;
    }
    .star5{
      
        left: 5rem;
        bottom: 0rem;
    }
    .organicss{
      
        bottom: 3rem;
        left: 2rem;
        height: 40px;
        width: 85px;
        
    }
    .highcss{
       
        bottom: 2rem;
        left: 20rem;
        height: 40px;
        width: 85px;
       
    }
   .why-me-main-first1, .why-me-main-second1, .why-me-main-third1, .why-me-main-fourth1{
    width: 80%;
   }
}
@media screen and (max-width: 415px){
    .main_left_content{
        font-size: 40px;
        line-height: 50px;
       height: 100px;
      
    }
    .animated-image{
        width: 15px;
        height: 15px;
        
    }
    .highcss{
       
       
        height: 28px;
        width: 73px;
       
    }
    .navhead{
        font-size: 15px;
    }
    .organicss{
      
       
        height: 28px;
        width: 73px;
        
    }
}
@media screen and (max-width: 400px){
    .right-image img{
        height: 320px;
        width: 320px;
    }
    .highcss{
       
        bottom: 2rem;
        left: 18rem;
        height: 30px;
        width: 75px;
       
    }
    .organicss{
      
        bottom: 3rem;
        left: 2rem;
        height: 30px;
        width: 75px;
        
    }
   
    .impacts-head{
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .impacts-main{
        font-size: 15px;
        line-height: 20px;
    }
    .viral-main img{
        width: 60%;
    }
    .line-img{
        width: 120px;
        position: relative;
        left: 4rem;
        bottom: 2.5rem;
    }

    .sub_left_content{
        line-height: 35px;
    }
     .impacts{
    
    padding-top: 5px;
    padding-bottom: 5px;
  
  border: 3px solid;
           border-image-slice: 1;
           border-width: 4px;
           border-radius: 2px;
        

           
           border-image-source:linear-gradient(to bottom, #ffde59 0%, #000000 44%, #000000 55%, #ffde59 100%);
 
 height: 250px;
 width: 95%;

}
.top-head{
       
    font-size: 15px;
    line-height: 20px;
  
   width: 50%;
   
   }

   .left-content{
        
    margin-top: 20px;
}   
.second_left_content{
    padding-left: 0;
    padding-right: 0;
}
.doctors-img{
    row-gap: 2rem;
}
.doctors-img img{
    height: 80px;
    width: 80px;
    /* gap: 20rem; */
    border-radius: 50%;
  }




.call_book{
    font-size: 15px;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    }
    .book-line{
        width: 120px;
        position: relative;
        top: -3.5rem;
        left: -6rem;
    }
    .main_left_content{
        font-size: 40px;
        line-height: 40px;
       height: 20px;
      
    }
    
    .list{
        font-size: 18px;
        line-height: 23px;
    }

}

@media screen and (max-width: 400px){
    .main_left_content{
        font-size: 40px;
        line-height: 50px;
       height: 200px;
      
    }
    .size1{
        height: 40px;
        width: 40px;
    }
    .star4{
      
        bottom: 16rem;
        left: 0rem;
    }
    .impacts{
        padding-top: 10px;
        padding-bottom: 10px;
      
      border: 3px solid;
               border-image-slice: 1;
               border-width: 2px;
               border-radius: 2px;
            
    
               
                border-image-source:linear-gradient(to bottom, #ffde59 0%, #000000 44%, #000000 55%, #ffde59 100%);
     
     height: 380px;
     width: 95%;
     box-sizing: border-box;
     margin: auto;
     
    
    }
    .impacts-fourth{
        margin-top: 1rem;
    }
    .rec{
        font-size: 20px;
    }
    /* .second_left_content{
        padding-left: 15px;
        padding-right: 15px;
    } */

    
    .list{
        font-size: 18px;
    }
    .top-head{
       
        font-size: 15px;
        line-height: 20px;
      
       width: 70%;
       
       }
}
@media screen and (max-width: 376px){
    .star2{
        bottom: 14rem;
        left: 20rem;
    }
    
    .star3{
        bottom: -5rem;
        left: 18rem;
    }
    .size1{
        height: 35px;
        width: 35px;
    }
    .box{
        margin-top: 1.5rem;
        padding: 2rem;
    }
    .star4{
      
        bottom: 15rem;
        left: 1rem;
    }
    .star5{
      
        left: 5rem;
        bottom: 0rem;
    }
    .highcss{
       
        bottom: 2rem;
        left: 18rem;
        height: 25px;
        width: 70px;
       
    }
    .organicss{
      
        bottom: 3rem;
        left: 2rem;
        height: 25px;
        width: 70px;
        
    }
    .box{
        padding-left: 5px;
        padding-right: 5px;
    }
    .navhead{
        font-size: 12px;
    }
    .animated-image{
        width: 10px;
        height: 10px;
        
    }
}
@media screen and (max-width: 370px){
    .second_left_content{
        padding-left: 45px;
        padding-right: 45px;
    }
    .star2{
        bottom: 18rem;
        left: 18rem;
    }
    .highcss{
       
        bottom: 2rem;
        left: 16rem;
       
       
    }
    .button2{
        font-size: 15px
    }
    

};
    
